name: Python package

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pycodestyle pylint
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

  testing:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Lint with Pep8
        run: |
          # stop the build if there are Python syntax errors or undefined names. The is 127 chars wide
          pycodestyle api/. --count --show-source --max-line-length=127 --statistics
      - name: Test with pylint
        run: |
          pylint api/. --rcfile=.github/workflows/vanilla.rc
